<div class="container_12 clearfix">
  <div class="screen-height container_12">
    <div class="greeter">
      <h1>Welcome to the News</h1>
      <form action="/news" id="thenews" method="post">
        <input class="input" type="text" placeholder="Enter search term here e.g 'politics'" name="searchterm" value=""><br>
        <button class="input" type="submit" name="my_button">Search</button>
      </form>

    </div>

  </div>
</div>